html, body {
  height: 100%;
}

body{
  background-image: url("5.png");
}

.container {
  margin: 10px auto;
  height: 100%;
  display: flex;
  justify-content: center;
}

.row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  margin: 10px;
  height: calc(100% - 40px);;
  width: calc(100% - 40px);
  background-color: white ;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 2.5em;
  font-weight: bold;
  color: black;
  text-align: center;
}