$primary-color: #fff;
$accent-color: #009688;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	/*background-color: #1C1D2F;*/
	background-image: url("5.png");
	/*background-image: url("6.png");*/
	font-family: "Roboto", sans-serif;
}
.cover_q{
	position: absolute;
	/*z-index: 1;*/
	opacity: 1;
	height: 600px;
	width: 1200px;
	padding-left: 300px;
	padding-top: 180px;
}
.option_text{
	color:#FAC801;
}
.nav_link{
	color: green;
}
.option{
	padding: 5px;
	font-size: 1.5em;
	border-radius: 8px;
	border: 1px solid #D1D3D4;
	background-color: #1C1D2F;
	margin: 0 auto;
}
.option:hover{
	background-color: #123456;
	font-size: 1.7em;
	padding-left: 15px;
}
.option:hover{
	padding-top: 7px;
}
input[type='radio']:hover {
    transform: scale(1.5);
}
.navbar{
	background-color:  #1C1D2F;
}
.question{
	font-size: 1.8em;
	color: #1C1D2F;
	padding-top: 200px;

}
.well{
	padding-top: 0px;
	background-color: #1C1D2F;
}
.option_row{
	padding-bottom: 2px;
}
.submit_button{
	font-size: 1.3em;
}
.white_div{
	z-index: -1;
	position: absolute;
	top: 170px;
	right: 325px;
	height: 400px;
	left: 100px;
	width: 1150px;
	background: white;
	border-radius: 6px;
}
progress{
	background-color: yellow;
	height: 25px;
	width: 250px;
	border-radius: 4px;
	box-shadow: 6px;
	margin-top: 10px;
	margin-left: -50px;
	color: green;
	-webkit-appearance: none;
}
progress::-webkit-progress-value {  
	background-color: yellow;
	-webkit-transition: 0.5s ease-out;
}

.formfields{
	top: 25px;
	left: 35px;
	height: 40px;
	width: 350px;
	border: #1C1D2F;
	margin-bottom: 8px;
	border-radius: 4px;

}
.formfields:hover{
	transform: scale(1.1);
	height: 40px;
	border:solid #1C1D2F;
}

.submitbutton{
	background-color: #FFC50A;
	color:#1C1D2F;
	height: 45px;
	width: 350px;
	font-weight: bold;
}
.submitbutton:hover{
	background-color: #1C1D2F;
	color:#FFC50A;
}

::-webkit-input-placeholder {
  color: black;
  font-size: 15px;
}
::-moz-placeholder {
  color: black;
  font-size: 15px;
}
:-ms-input-placeholder {
  color: black;
  font-size: 15px;
}
::placeholder {
  color: black;
  font-size: 15px;
}

progress::-webkit-progress-value {  
	background-color: yellow;
}


thead,tbody{
	display: block;
}
tbody{
	max-height: 210px;
	overflow-y: scroll;
}
.nametd,.usertd,.pointstd{
	width: 500px;
}

/*Code for the leaderboard*/
.tableheader{
	font-weight: bold;
	font-size: 1.5em;
	background-color: #1C1D2F;
	color:white;
}
.tableelements{
	font-size: 1.2em;
	margin-bottom: 2px;
	background-color: #FFC50A;
}


/*Media Elements*/
@media(max-width:350px){
	.enigmatext{
		display: block;
	}
	.question{
		left: 80px;
		padding-top: 80px;
		font-size: 1.4em;
		margin-left : 700px auto;
	}
	.white_div{
		left: 0px;
		top: 20px;
		border-radius:3px;
		opacity: 1;
		height: 450px;
		margin:10px;
		width: 300px;
	}
	progress{
		height: 15px;
		margin-left: 5px;
	}
	.submitbutton{
	height: 35px;
	width: 200px;
	margin-left: 30px;
}
	.formfields{
		width: 250px;
	}

	.option{
		width: 280px;
	}
}

@media(min-width:350px) and (max-width:768px){
	.enigmatext{
		display: block;
	}
	.question{
		left: 80px;
		padding-top: 80px;
		font-size: 1.4em;
		margin-left : 700px auto;
	}
	.white_div{
		left: 0px;
		top: 20px;
		border-radius:3px;
		opacity: 1;
		height: 450px;
		margin:10px;
		width: 360px;
	}
	progress{
		height: 15px;
		margin-left: 5px;
	}
	.submitbutton{
	height: 35px;
	width: 200px;
	margin-left: 30px;
}
	.formfields{
		width: 250px;
	}

	.option{
		width: 280px;
	}
}
@media(min-width:768px) and (max-width: 1200px){
	.white_div{
		margin: 5px;
		left: 40px;		
		width:700px;
	}
	.question{
		margin-left: 100px;
	}
	.option{
		margin-left: 200px;
	}
	progress{
		margin-left: 0px;
	}
}